.root {
  text-align: center;
  padding: 1rem;
  background-color: white;
  border-radius: 0.3rem;
  border: 1px solid #e0e0e0;

  .cover {
    height: 7rem;
    margin: -1rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .avatar {
    margin-top: -3rem;
    width: 6rem;
    height: 6rem;
    margin-inline: auto;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid black;
    position: relative;
    z-index: 2;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .name {
    font-weight: bold;
    margin-block: 0.5rem;
  }

  .title {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 1rem;
    font-size: 0.9rem;
  }

  .info {
    text-align: left;
    font-size: 0.8rem;
    margin-top: 1rem;
    color: rgb(0 0 0 / 60%);

    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 0.3rem;

      .value {
        font-weight: bold;
      }
    }
  }
}
