.search {
  position: relative;

  .suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 0 0 0.3rem 0.3rem;
    z-index: 999;
    max-height: 16rem;
    overflow-y: auto;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  }

  .suggestion {
    button {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0.5rem;
      width: 100%;

      &:hover {
        background-color: #f9f9f9;
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid #e0e0e0;
    }

    .avatar {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
    }

    .top {
      font-size: 0.8rem;
      grid-template-columns: 3rem 1fr auto;
      padding-inline: 0;
    }

    .name {
      font-weight: bold;
    }
  }
}
