.root {
  height: 100%;
  display: grid;
  gap: 2rem;

  .left,
  .right {
    display: none;
  }

  .header {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    font-size: 0.9rem;

    button {
      background-color: #e0e0e0;
      border-radius: 999px;
      padding: 0.5rem 1rem;
    }

    button.active {
      background-color: var(--primary-color-dark);
      color: white;
    }
  }

  .center {
    display: grid;
    gap: 1rem;
    height: 100%;
    grid-template-rows: auto auto 1fr;
  }

  .posting {
    background-color: white;
    border-radius: 0.3rem;
    border: 1px solid #e0e0e0;
    padding: 1rem;
    display: grid;
    grid-template-columns: 5rem 1fr;
    gap: 1rem;

    .avatar {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
    }
  }

  .error {
    color: red;
  }

  @media screen and (width >= 1135px) {
    grid-template-columns: 14rem 1fr 20rem;
    align-items: flex-start;

    .left,
    .right {
      display: block;
    }
  }
}
