.root {
  display: grid;
  gap: 0.5rem;
  margin-block: 1rem;

  input {
    border: 1px solid #6f6f6f99;
    border-radius: 4px;
  }

  &.large input {
    padding: 1rem;
  }

  &.medium input {
    padding: 0.5rem;
    font-size: 0.9rem;
  }

  &.small input {
    padding: 0.2rem;
    font-size: 0.8rem;
  }
}
