.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 1rem;
  background-color: var(--primary-color);
  color: white;
  border-radius: 9999px;
  margin-block: 1rem;
  font-weight: bold;
  transition: 0.3s;

  &:disabled {
    color: black;
    background-color: rgb(217, 217, 217);
    cursor: not-allowed;
  }

  &:not(:disabled, .outline):hover {
    background-color: var(--primary-color-dark);
  }

  &.outline {
    background-color: white;
    color: var(--primary-color);
    border: 1px solid rgba(0, 0, 0, 0.6);
    padding: 0.5rem;
    color: black;
    font-weight: normal;

    &:not(:disabled):hover {
      border-color: rgb(0, 0, 0);
    }
  }
}
