.root {
  position: fixed;
  inset: 0;
  background-color: rgb(0 0 0 / 50%);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 9999;

  .modal {
    background-color: white;
    border-radius: 0.3rem;
    border: 1px solid #e0e0e0;
    width: 100%;
    max-width: 45rem;
    margin: 4.5rem 1rem;
    padding: 1rem;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    button {
      background-color: #ececec;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      display: grid;
      place-items: center;
    }
  }

  .error {
    color: red;
  }

  .title {
    font-weight: bold;
  }

  textarea {
    width: 100%;
    height: 20rem;
    resize: none;
    border: 1px solid #e0e0e0;
    border-radius: 0.3rem;
    padding: 1rem;
  }
}
