:root {
  --primary-color: #0a66c2;
  --primary-color-dark: #004182;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}

html {
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
}
