:root {
  --primary-color: #0a66c2;
  --primary-color-dark: #004182;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}

html {
  font-family: Poppins, sans-serif;
  background-color: #f4f2ee;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

strong {
  font-weight: 600;
}
