.root {
  background-color: white;
  border-radius: 0.3rem;
  border: 1px solid #e0e0e0;
  min-height: 100%;
  padding: 1rem;

  h3 {
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .items {
    display: grid;
    gap: 1rem;
  }

  .item {
    display: flex;
    gap: 1rem;
    font-size: 0.8rem;

    .avatar {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
    }

    .name {
      font-weight: bold;
    }

    .button {
      width: auto;
      margin: 0.3rem 0 0;
    }
  }
}
