.root {
  display: grid;
  gap: 2rem;

  .left,
  .right {
    display: none;
  }

  @media screen and (width >= 1135px) {
    grid-template-columns: 14rem 1fr 20rem;
    align-items: flex-start;

    .left,
    .right {
      display: block;
    }
  }
}
